.header_style {
 margin-top: 0px;
 position: sticky;
 background-image: linear-gradient(#ff9d2f, #ff6126);
 clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 5vw));
}

.h1_form{
 margin: 0;
 padding: 100px;
 font: 44px "Arial";
 color: white;
 text-align: center;
}


.section_style{
    background-position:center;
    max-width:1550px;
    width: 900px;
    border-style: solid;
    color:  #ff6126;
    margin-bottom: 100px;
}

.article_view{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    min-width: 1000px;
    left-margin: 100px;
} 



.form_view{
    display: flex; 
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
} 


.form_inputs{
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
}

.input_style_l{
    width: 250px;
}
.input_style{
    width: 250px;
    margin-left: 12%;
}

.input_left{
    margin-left: 12%;
}

.button_size{
    width: 200px;
    height: 40px;
    background-color:#f1f1f1;
    margin-left: 40%;
    align-items: center;
    margin-bottom: 10px;
}

body {
    background-color:#f1f1f1;
}

.BodyView{
   margin: 0;
   padding: 0;
   display:flex; 
   flex-direction: row;
}

.textbox_form{
    height: 40px;
    width: 605px;
    margin-left: 16%;
    margin-bottom: 10px;
}


.sub_form_titles{
    text-align: left;
    margin-left: 25px;
}

.sub_form_sec{
    text-align: left;
    margin-right: 25px;
}

.form_labels{
    margin-left:0px;
}

.handle_gentext{
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
}


.footer_row {
    padding: 0px;
    display: flex;
}
  
.footer_column {
    flex: 50%;
    padding: 10px;
    height: 175px; 
}
  
.footer_view{
 background-color: #777;
 padding: 0px;
 text-align: center;
 color: white;
 height: auto; 
 bottom: 0px;
}
  
.link_stylez{
 text-decoration: underline;
 color: white;
}
  
.footer_links{
 list-style-type: none;
 text-align:left;
 line-height: 25px;
 color: white;
 left: 0px;
 padding: "0";
};
  
input[type=text], select, textarea {
 width: 100%;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 margin-top: 6px;
 margin-bottom: 16px;
 resize: vertical;
};

input[type=submit] {
 background-color: #4CAF50;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
};
  
input[type=submit]:hover {
 background-color: #45a049;
};
  
.container {
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
};

.form_title{
    margin-top: 0px;
}

.form_card{
    margin-left: 50px;
    min-width: 1000px;
    justify-content: center;
    margin-left: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.input_drop{
    width: 965px;
    height: 40px;
    border-color: gray transparent transparent transparent;
    
    border: 10px solid transparent;
    color:  gray;
    background-color: #f2f2f2;

}
.label_form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}